@import "styles/styleGuide.module";

.footer {
  padding: 20px 0 20px 0;
  background-color: $grey250;
  text-align: center;
  color: $grey700;

  p {
    @include paragraph-16;
    margin: 2px 0 2px 0;
  }
}
