@import "styles/styleGuide.module";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: $baseWhite;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);

  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
  }
}

.title {
  @include heading-20;
  color: $grey800;
  border-bottom: 1px solid $grey300;
}

.desc {
  @include paragraph-16;
  color: $grey700;
  margin-top: 12px;
}
