$grey100: #FFFFFF;
$grey150: #F6F7F9;
$grey200: #EEF1F5;
$grey250: #DFE4E8;
$grey300: #CDD3D9;
$grey400: #AAB1BC;
$grey500: #9198A4;
$grey600: #7B818E;
$grey650: #626575;
$grey700: #494B53;
$grey800: #2e2e2e;
$baseWhite: #FFFFFF;
$baseWarning: #FB6F43;
$baseNormalGray: #E6E6E6;
$main100: #ac55ff;
$main200: #D09CFA;
$main300: #F3CCFF;
$main400: #FFFFD0;

:export {
  grey100: $grey100;
  grey150: $grey150;
  grey200: $grey200;
  grey250: $grey250;
  grey300: $grey300;
  grey400: $grey400;
  grey500: $grey500;
  grey600: $grey600;
  grey650: $grey650;
  grey700: $grey700;
  grey800: $grey800;
  baseWhite: $baseWhite;
  baseWarning: $baseWarning;
  baseNormalGray: $baseNormalGray;
  main100: $main100;
  main200: $main200;
  main300: $main300;
  main400: $main400;
}

// font-profile
@mixin display-96 {
  font-weight: 900;
  font-size: 96px;
  line-height: 118px;
}

@mixin display-64 {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
}

@mixin display-52 {
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
}

@mixin display-44 {
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
}

@mixin display-36 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

@mixin heading-40 {
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
}

@mixin heading-36 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

@mixin heading-32 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

@mixin heading-28 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

@mixin heading-24 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

@mixin heading-20 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

@mixin heading-16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

@mixin label-20 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

@mixin label-18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

@mixin label-16 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

@mixin label-14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

@mixin label-12 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

@mixin paragraph-18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

@mixin paragraph-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin paragraph-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin paragraph-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
