@import "styles/styleGuide.module.scss";

.container {
  width: 100%;
  padding: 16px 0 32px 0;
  border-top: 1px solid $grey250;
}

.header {
  display: flex;
  margin: 0 0 18px 6px;
}

.icon {
  margin-right: 12px;
  svg {
    fill: $main100;
  }
}

.title {
  @include heading-24;
  color: $main100;
}

.card__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-column-gap: 18px;
  grid-row-gap: 18px;

}
